@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
  --custom-big-stone: #17213c;
  --custom-bluewood: #283747;
  --custom-orient: #004e7c;
  --custom-wedgewood: #457b9d;
  --custom-eucalyptus: #23856d;
  --custom-keppel: #47ad97;
  --custom-tall-poppy: #b73225;
  --custom-amaranth: #e63946;
*/
  --custom-big-stone: 23, 33, 60;
  --custom-bluewood: 40, 55, 71;
  --custom-orient: 0, 78, 124;
  --custom-wedgewood: 69, 123, 157;
  --custom-eucalyptus: 35, 133, 109;
  --custom-keppel: 71, 173, 151;
  --custom-tall-poppy: 183, 50, 37;
  --custom-amaranth: 230, 57, 70;
}
